@model MusicApplicationWebLibrary.Models.Song

@{// small M on model here to inject  
    ViewData["Title"] = "Update";
}
 capital M on model here to get the entity tht was injected inside 
<h5>Update details for </h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <label asp-for="artistName" class="control-label">Artist name</label>
                <input asp-for="artistName" class="form-control" />
                <span asp-validation-for="artistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackName" class="control-label"> Track name</label>
                <input asp-for="TrackName" class="form-control" />
                <span asp-validation-for="TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    <option value="1">HipHop</option>
                    <option value="2">Pop</option>
                    <option value="3">Rock</option>
                    <option value="3">Dancehall</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Favourite" class="control-label"></label>
                <select asp-for="Favourite" class="form-control">
                    <option value="1">Favourite Track</option>
                    <option value="2">Least Favourite </option>
                </select>

                <span asp-validation-for="Favourite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureURL" class="control-label"></label>
                <input asp-for="PictureURL" class="form-control" />
                <span asp-validation-for="PictureURL" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}